<h1> Edit User Form </h1>
    <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :age %>
    <%= f.text_field :age%>
    <br>
    <%= f.label :day %>
    <%= f.text_field :day %>
    <br>
    <%= f.collection_select :location_ids, Location.all, :id, :name %>
    <%= f.collection_select :weekday_ids, Weekday.all, :id, :day %>
   
    <br>
    link_to "Submit Changes" <%= f.submit%>
    <% end %>
    