<h1> Edit User Form </h1>
    <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :age %>
    <%= f.text_field :age%>
    <br>
    <%= f.collection_select :location_ids, Location.all, :id, :name %>
    <%= f.collection_select :status, User.all, :id, @users.status %>
    <br>
    <%= f.submit%>
    <% end %>
    