<h1> New User Form </h1>
    <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :age %>
    <%= f.text_field :age%>
    <br>
    <%= f.collection_select :status, @statuses, :to_s, :to_s %>
    <br>
    <%= f.submit%>
    <% end %>
    